<ol reversed class="articlelist" style="counter-reset: start-from {{ articlelist.length + 1 }}">
{% for article in articlelist | reverse %}
  <li class="mb-6 postlist-item sm:grid sm:grid-cols-5 md:grid-cols-3 sm:gap-x-6 md:gap-x-8">

    {% Image {
      image: article.mainImage,
      size: "onethird",
      figCaption: false,
      link: "/" + article.category.slug.current + "/" + article.slug.current + "/",
      className: "mb-4 sm:col-span-2 md:col-span-1 sm:mb-0"
    } %}

    <div class="sm:col-span-3 md:col-span-2">
      {%- include "partials/categorylink.njk" -%}
      <a href="{{ "/" + article.category.slug.current + "/" + article.slug.current + "/" | url }}" class="block text-3xl hover:underline focus:underline postlist-link">{{ article.title }}</a>
      <time class="block text-lg text-gray-600" datetime="{{ article.publishedAt }}">{{ article.publishedAt | readableDate }}</time>
    </div>
  </li>
{% endfor %}
</ol>
