---
layout: layouts/base
templateClass: tmpl-post
contentType: article
eleventyComputed:
  title: "{{ post.title | safe }}"
  description: "{{ post.description | safe }}"
  mainImage: "{{ post.mainImage.asset.url }}"
  mainImageAlt: "{{ post.mainImage.alt | safe }}"
tags:
  - posts
pagination:
  alias: post
  data: posts
  size: 1
  addAllPagesToCollections: true
permalink: "/{{ post.category.slug.current }}/{{ post.slug.current }}/"
---

<div class="heading--home">
  <div class="inner">
    {%- include "partials/categorylink.njk" -%}
    <h1 class="mb-6 text-4xl md:text-6xl">{{ post.title }}</h1>

    <div class="flex space-x-4 meta">
      <img src="{{ post.author.image.asset.url }}?w=56&amp;h=56" width="56" height="56" alt="{{ post.author.name }}" class="rounded-full" />
      <p class="text-lg">
        <span class="block">{{ post.author.name }}</span>
        <time class="block" datetime="{{ post.publishedAt }}">{{ post.publishedAt | readableDate }}</time>
      </p>
    </div>
  </div>
</div>

{% Image {
  image: post.mainImage,
  mainImage: true,
  lazy: false
} %}

<div class="content inner">
  <div class="mx-auto text-lg prose max-w-prose md:text-xl">
    {{ post.body | markdownify | safe }}
  </div>
</div>
