---
permalink: /feed/rss.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.siteTitle }}</title>
	<subtitle>{{ metadata.siteDescription }}</subtitle>
  {% set absoluteUrl %}{{ "/feed/rss.xml" | absoluteUrl(metadata.siteAddress) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ metadata.siteAddress }}"/>
	<updated>{{ articles[0]._updatedAt }}</updated>
	<id>{{ metadata.siteAddress }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for article in articles %}
	{% set absolutePostUrl %}{{ (article.category.slug.current + '/' + article.slug.current) | absoluteUrl(metadata.siteAddress) }}{% endset %}
	<entry>
		<title>{{ article.title }}</title>
		<link href="{{ absolutePostUrl }}/"/>
		<updated>{{ article.publishedAt }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">
      {{ article.body | htmlToAbsoluteUrls(absolutePostUrl) }}
      {{ "<hr/><p><a href='mailto:" | e }}{{ metadata.author.email }}{{ "?subject=Re: " | e }}{{ article.title }}{{ "'>" | e }}{{ 'Reply to this' }} {{ "</a></p>" | e }}
    </content>
	</entry>
	{%- endfor %}
</feed>
